[submodule ".\\utils\\ccl_chrome_indexeddb"]
	path = .\\utils\\ccl_chrome_indexeddb
	url = https://github.com/cclgroupltd/ccl_chrome_indexeddb/
[submodule "utils\\ccl_chrome_indexeddb"]
	path = utils\\ccl_chrome_indexeddb
	url = https://github.com/cclgroupltd/ccl_chrome_indexeddb/
