altgraph==0.17.4
beautifulsoup4==4.9.3
chardet==4.0.0
click==8.0.4
colorama==0.4.6
dataclasses-json==0.6.3
marshmallow==3.20.1
mypy-extensions==1.0.0
packaging==23.2
pyfiglet==1.0.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
soupsieve==2.5
typing-inspect==0.9.0
typing_extensions==4.9.0
